# Data
*.eve
*.h5
*.cofsm

# Logs
*.log
log/

# Python junk
__pycache__/
*.pyc
*.ipynb

# Images / outputs
*.png
*.tiff
test_output/
test_images/
Dist/
events_cta/
config/
data/
DRS_OFFSET/
geometry/
OBS_INFO/
output/

# Editor junk
.~lock.*